body {
    margin:0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background-image: url("images/universe.jpg");
    background-size: cover;
    padding: 90px 0px 20px 0px;

}

#main-logo {
    width: 300px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    background: #C76E97;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #2d111e;
    font-weight: 800;
    cursor: pointer;
    width: 200px;
}
.btn:hover {
     background-color: #45a049;
}
.btn:focus {
    outline: none;
  }
  .btn:active {
    background-color: yellow;
  }
  
  

.underline {
    border-bottom: 4px solid white;
}
h3 {
    font-size: 50px;
    text-shadow: 5px -5px 5px black;
}
h1 {
    font-size: 50px;
    text-shadow: 5px -5px 5px black;
}

